[global]
## definition of "theme" : Use a theme from a subdirectory name of directory "themes/"

theme=bootstrap-CI3
#theme=bootstrap


[generation]
## definition of "outDirFor_Classes" : destination folder for generated files
## definition of "database" : the database name for SQL
## definition of "generate" : which kind of file you decide to generate

# pour un test :
#outDirFor_Classes=/home/julien/eclipse-php/workspace/dummyApp/application/

outDirFor_Classes=/home/julien/eclipse-php/workspace/dietimpulse-ci3/application/

database=

# decide to generate only some files:
# all, helpers, controllers, views, subViews, sql, baseModels, models, lang, unitTest, json, js, spec
generate=all


