%[kind : views]
%[file : %%(self.obName.lower())%%.html] 
%[path : app/pages]
<!DOCTYPE html>
<html class="h-100" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    
    <meta name="author" content="Julien CORON">
    <title>Application</title>
%%
textAreaImports = ""

for field in self.fields:
    if field.sqlType.upper()[0:4] == "TEXT":
      textAreaImports = """
    <link rel="stylesheet" href="https://unpkg.com/jodit@latest/es2021/jodit.min.css"/>
    <script src="https://unpkg.com/jodit@latest/es2021/jodit.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    """
      break

RETURN = textAreaImports
%%
  </head>
  <body class="h-100" style="background-color: #1d1d1d;">

    <app-main-%%(self.obName.lower())%%></app-main-%%(self.obName.lower())%%>
    
    <script src="../assets/index.js" type="module"></script>

  </body>
  </html>
